- hosts: localhost
  become: true
  tasks:
    - name: Ensure virtualenv is installed on the system
      apt:
        name: python3-virtualenv
        state: present

    - name: Install Python dependencies into venv
      pip:
        name:
          - google-cloud-language
          - google-cloud-bigquery
        virtualenv: "/opt/jenkins-venv"
        virtualenv_command: python3 -m venv