- hosts: localhost
  tasks:
    - name: Ensure the venv directory exists
      file:
        path: "/opt/jenkins-venv"
        state: directory
        mode: '0755'
      # This task might still need 'become: true' if the folder doesn't exist yet
      become: true

    - name: Ensure current user owns the venv directory
      file:
        path: "/opt/jenkins-venv"
        owner: "{{ ansible_user_id }}"
        recurse: yes
      become: true

    - name: Install Python dependencies into the shared venv
      pip:
        name:
          - google-cloud-language
          - google-cloud-bigquery
        virtualenv: "/opt/jenkins-venv"
        virtualenv_command: python3 -m venv