- hosts: localhost
  become: false
  vars:
    venv_path: "/home/{{ ansible_user_id }}/jenkins-env"
  
  tasks:
    - name: Install Python dependencies into venv
      pip:
        name:
          - google-cloud-language
          - google-cloud-bigquery
        virtualenv: "{{ venv_path }}"
        virtualenv_command: python3 -m venv

    - name: Run pretrained sentiment analysis
      command: "{{ venv_path }}/bin/python3 ../../ml/pretrained_sentiment.py"