- hosts: localhost
  vars:
    venv_path: "/opt/jenkins-venv"
  
  tasks:
    - name: Install Python dependencies into the shared venv
      pip:
        name:
          - google-cloud-language
          - google-cloud-bigquery
        virtualenv: "{{ venv_path }}"
        virtualenv_command: python3 -m venv

    - name: Run pretrained sentiment analysis
      command: "{{ venv_path }}/bin/python3 ../../ml/pretrained_sentiment.py"